<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mastotron</title>

    <link rel="stylesheet" href="/static/jquery.flash.css">
    <link rel="stylesheet" href="/static/jquery-ui.css">
    <link rel="stylesheet" href="/static/postnet.css">
    <link rel="stylesheet" href="/static/prompt-boxes.min.css">

    <script type="text/javascript" src="/static/vis-network.min.js"></script>
    <script type="text/javascript" src="/static/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/jquery.flash.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/utils.js"></script>
    <script type="text/javascript" src="/static/prompt-boxes.min.js"></script>
    <script type="text/javascript" src="/static/login.js"></script>

    <script type="text/javascript">
        var DARKMODE = {{ session.get('DARKMODE',0) }};
        var pb = new PromptBoxes({toasts: {duration: 2500, allowClose: true}});
    </script>

    {% block head %}
    {% endblock %}
    
      
  </head>

  <body>
    <div id="header">
      mastotron v0.4

      <div id="config">
        <div id="acctname" onclick="prompt_for_username()">{{session.get('acct','')}}</div>
      </div>

      <div id="optbuttons">
        <a onclick="toggle_darkmode()">
          <img id="nightmode" src="/static/dark-mode-6682.png" width="20" height="20" />
        </a>
      </div>
      
    </div>
    
    <div id="logmsg"></div>

    {% block content %}
    {% endblock %}
    

    {% block foot %}
    {% endblock %}

    <div id="helper">
    <i>Get updates</i>: 🇳 or dbl-click empty spot<br/>
    <i>Mark read</i>: 🇷 while hovering over node<br/> 
    <i>Load replies</i>: right-click a node<br/>
    <i>See on site</i>: double-click node<br/>
    </div>

    <div id="xaxis" class="axis">X-axis: Recency ⟶</div>
    <div id="yaxis" class="axis">Y-axis: Popularity ⟶</div>

  </body>
</html>