<!DOCTYPE html>
<html lang="en">
  <head>
    <title>mastotron</title>

    <link rel="stylesheet" href="/static/jquery.flash.css">
    <link rel="stylesheet" href="/static/jquery-ui.css">
    <link rel="stylesheet" href="/static/postnet.css">

    <script type="text/javascript">
      var DARKMODE = {{session.get('DARKMODE',0)}};
    </script>

    <script type="text/javascript" src="/static/vis-network.min.js"></script>
    <script type="text/javascript" src="/static/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/jquery.flash.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/utils.js"></script>

    
          
  </head>

  <body>
    <div id="header">
      mastotron v0.3
      <div id="optbuttons"><a onclick="toggle_darkmode()"><img id="nightmode" src="/static/dark-mode-6682.png" width="20" height="20" /></a></div>
    </div>

    <div id="config">
      <form id="configform">
        <div id="configform_account_div">
          <input id="configform_account" name="account" value="{{session.get('account','')}}" placeholder="mastodonuser@mastodonserver.com"></input>
        </div>

        <div id="configform_code_div" hidden>
          <input id="configform_code" name="code" value="" placeholder="Enter authentication code"></input>
        </div>
        
        <!-- <input id="configform_submit" type="submit" value="Login"> -->
      </form>
      

      
    </div>

    <div id="logmsg"></div>
    </div>

    <div id="postnetviz"></div>
    <div id="tweet" hidden></div>



    <script style="text/javascript" src="/static/login.js"></script>
    <script type="text/javascript" src="/static/postnet.js"></script>

     
    <!-- <div id="slider">
      <div id="custom-handle" class="ui-slider-handle"></div>
    </div> -->
    
  </body>
</html>