<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vis Network | Node Styles | HTML in Nodes</title>

    <link rel="stylesheet" href="/static/jquery.flash.css">
    <link rel="stylesheet" href="/static/postnet.css">

    <script type="text/javascript" src="/static/vis-network.min.js"></script>
    <script type="text/javascript" src="/static/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/static/jquery.flash.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/utils.js"></script>
      
    </script>
    
  </head>

  <body>
    <div id="header">mastotron v0.2</div>

    <div id="config">
      <form id="configform">
        <div id="configform_account_div">
          <input id="configform_account" name="account" value="{{session.get('account','')}}" placeholder="mastodonuser@mastodonserver.com"></input>
        </div>

        <div id="configform_code_div" hidden>
          <input id="configform_code" name="code" value="" placeholder="Enter authentication code"></input>
        </div>
        
        <!-- <input id="configform_submit" type="submit" value="Login"> -->
      </form>
    </div>

    <div id="logmsg"></div>
    </div>

    <div id="mynetwork"></div>
    <div id="tweet" hidden></div>



    <script style="text/javascript" src="/static/login.js"></script>
    <script type="text/javascript" src="/static/postnet.js"></script>

  </body>
</html>