body {
font: 10pt arial;
color: black;
width:100vw;
height:100vh;
/* background-color: white;  */
background-color: #eeeeee;
/* background-color: black;  */
/* background-color: #041e2e; */
/* background-color: #010b12; */
}
div { margin: 0; padding: 0; }
  
.light-mode {
    
    color: black;
}
.dark-mode {
    background-color: #010b12;
    color: white;
}

a { color: lightblue; }
#acctname { font-size: 11pt; }
#header {
    position:absolute;
    top:5px;
    left:5px;
    vertical-align: middle;
    font-size: 12pt;
    z-index:1;

    /* letter-spacing: .5em; */
    /* color: gray; */
}
#logmsg {
font: 10pt arial;
top:5px;
right:5px;
text-align:right;
position:absolute;
color:gray;
}

#postnetviz {
height: 95vh; /* For 100% screen height */
width:  95vw; /* For 100% screen width */
/* border: 1px dotted slategrey; */
border:0px;
margin:0;
padding:0;
outline:0;
border:none;
/* background-color: #eeeeee; */
}
#postnetviz:focus {outline:0;border:none;}
#postnetviz:active {outline:0;border:none;}
#postnetviz:hover {outline:0;border:none;}
.vis-network:focus {outline:0;border:none;}
.vis-network:active {outline:0;border:none;}
.vis-network:hover {outline:0;border:none;}
canvas:focus {outline:0;border:none;}
canvas:active {outline:0;border:none;}
canvas:hover {outline:0;border:none;}


#tweet { 
    position: absolute;
    top: 30px;
    left: 20px;
    /* min-width:300px; */
    /* max-width: 400px; */
    width: 400px;
    padding: 0;
    margin: 0;
    background-color: white;
    border-radius: 25px;
    /* color: black; */
    border: 1px solid #888888;
    /* font-size:1.25em; */
    backdrop-filter: blur(3px);
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}
#optbuttons {
    margin-top:5px;
    /* text-align:right; */
}
input {
background-color: #eeeeee; 
/* color: gray; */
border: 0px;
text-align: left;
}
.post_postimg { width: 350px; }
.post_avatarimg { 
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
}

.reblog {
/* border:1px dotted black; */
}
.origpost {
/* border:1px solid black; */
}
.post {
padding:1em;
margin: 0;
/* text-align: center; */
/* border: 1px solid darkgray; */
/* color: red; */
font-size:13pt;
}
.post_uristr {
    font-size:11pt;
    margin:0 auto;
}
.post_header {
    font-size:11pt;
    margin: 0;
    padding: 0;
}
.post_stats { 
    font-size:10pt;
    margin: 0;
    padding: 0;
    margin-top: .5em;
    margin-bottom:.25em;
    margin-left: .25em;
}


#config {
    /* position:absolute; */
    /* top:5px; */
    /* right:5px; */
    z-index: 1;
    width:20em;
    /* height:5em; */
    /* background-color: yellow; */
    text-align: left;
}


#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }
  
